# Lambda

In [1]:
def suma(a,b):
    return a+b

In [10]:
suma

In [2]:
suma(5,7)

12

In [7]:
res = suma(7,5)
res

12

In [8]:
(lambda a,b: a+b)(5,7)

12

In [9]:
suma_2 = lambda a,b: a+b

In [14]:
res_2 = suma_2(5,7)
res_2

12

In [30]:
multi = (lambda a,b: a*b)

In [31]:
multi(55,6)

330

In [18]:
def suma_3(a,b = 3):
    return a+b

In [23]:
suma_3(5,b = 4)

9

In [24]:
multi_2 = lambda a, b = 2: a*b

In [26]:
multi_2(2, b = 3)

6

In [27]:
multi_2(b = 3,4)

SyntaxError: positional argument follows keyword argument (<ipython-input-27-85f127f0ff79>, line 1)

In [29]:
(lambda x, y, z = 3: x+y+z)(1, 2)

6

In [32]:
suma_n_args = (lambda *argumentos: sum(argumentos)) #por convencion se utilza la palabra *args
#*args seran argumentos posisionales

In [33]:
suma_n_args(1,2,3,4,4,5,42,3,5,45,5)

119

In [34]:
lamb_kwargs = (lambda **kwargs: sum(kwargs.values()))
#*kwargs argumentos de llaves y valores (diccionario)

In [35]:
lamb_kwargs(one = 1, two = 2, three=3, four = 4)

10

In [36]:
lamb_kwargs(1,2,3,4)

TypeError: <lambda>() takes 0 positional arguments but 4 were given

In [37]:
lst = [1,2,3,4,5,6,7,8]

In [38]:
lst_r = []
for i in lst:
    r = i*2
    lst_r.append(r)

In [39]:
lst_r

[2, 4, 6, 8, 10, 12, 14, 16]

In [41]:
lst_2 = [i*2 for i in lst]

In [42]:
lst_2

[2, 4, 6, 8, 10, 12, 14, 16]

In [44]:
lst_3 = [(lambda i: i*2)(i) for i in lst] #lambda con comprension de lista
lst_3

[2, 4, 6, 8, 10, 12, 14, 16]

In [45]:
mul = lambda i: i*2

In [46]:
lst_3 = [mul(i) for i in lst] #lambda con comprension de lista
lst_3

[2, 4, 6, 8, 10, 12, 14, 16]

In [47]:
lst_s = ['hol.2.', 'como.estan .', 'aknhsk.']

In [50]:
clean_lambda = lambda x: x.replace('.','').replace('o','i')

In [51]:
lst_clean = [clean_lambda(i) for i in lst_s]
lst_clean

['hil2', 'cimiestan ', 'aknhsk']

In [52]:
lst_lst = [i for i in range(50)]
lst_lst

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [60]:
num = lambda x: x*2 if x > 20 else x*3

In [61]:
lst_2 = [num(i) for i in lst_lst]
lst_2

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [67]:
num_2 = lambda x: x*2 if x > 20 else x

In [70]:
%pprint off
lst_2 = [num_2(i) for i in lst_lst]
lst_2

Pretty printing has been turned OFF

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [71]:
full_name = lambda primero,segundo: f'Nombre completo: {primero.title()} {segundo.title()}'

In [72]:
full_name('oscar','fuentes')

'Nombre completo: Oscar Fuentes'

In [73]:
calificaciones = [{'nombre':'Fanny', 'final':90},
                 {'nombre':'Alberto','final':70},
                 {'nombre':'Caro','final':100},
                 {'nombre':'Luis','final':40}]

In [74]:
sorted(calificaciones, key = lambda x: x['final'])

[{'nombre': 'Luis', 'final': 40}, {'nombre': 'Alberto', 'final': 70}, {'nombre': 'Fanny', 'final': 90}, {'nombre': 'Caro', 'final': 100}]

In [75]:
sorted(calificaciones, key = lambda x: x['nombre'])

[{'nombre': 'Alberto', 'final': 70}, {'nombre': 'Caro', 'final': 100}, {'nombre': 'Fanny', 'final': 90}, {'nombre': 'Luis', 'final': 40}]

In [76]:
sorted(calificaciones, key = lambda x: x['nombre'], reverse = True)

[{'nombre': 'Luis', 'final': 40}, {'nombre': 'Fanny', 'final': 90}, {'nombre': 'Caro', 'final': 100}, {'nombre': 'Alberto', 'final': 70}]

In [77]:
sorted(calificaciones, key = lambda x: x['final'], reverse = True)

[{'nombre': 'Caro', 'final': 100}, {'nombre': 'Fanny', 'final': 90}, {'nombre': 'Alberto', 'final': 70}, {'nombre': 'Luis', 'final': 40}]

In [78]:
tups = [('oscar',28),
       ('fer',24),
       ('cyn',25),
       ('alberto',28),
       ('toro',33),
       ('kathe',26),
       ('mile',26),
       ('caro',24)]

In [81]:
tups[0][1]

28

In [83]:
sorted(tups, key = lambda x:x[1], reverse = True)

[('toro', 33), ('oscar', 28), ('alberto', 28), ('kathe', 26), ('mile', 26), ('cyn', 25), ('fer', 24), ('caro', 24)]

In [85]:
max(tups, key = lambda x: x[1])

('toro', 33)

In [86]:
min(tups, key = lambda x: x[1])

('fer', 24)

In [87]:
def my_func(num):
    lam = lambda x: x*num
    return lam

In [88]:
res = my_func(10)

res(9)

In [95]:
func_1 = lambda x, func: x + func(x)

In [96]:
func_1(2, lambda x: x/x)

3.0

In [97]:
lista_n = [[1,2,3],[4,5,6],[7],[8,9]]

In [98]:
flat = lambda x: [item for i in x for item in i]

In [99]:
print(flat(lista_n))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# MAP (mathematical application)

In [100]:
#map es un bult in, aplicara una funcion a un iterable
#map(FUNCION, ITERABLE)

In [101]:
def fun_doble(x):
    return x*2

In [102]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [104]:
list(map(fun_doble,lst))

[2, 4, 6, 8, 10, 12, 14, 16]

In [105]:
import math

In [106]:
def area(r):
    if r < 6 :
        return math.pi * (r**2)
    else:
        return 0

In [107]:
radios = [2,3,45,7.7,12, 3.2]

In [111]:
areas = []
for i in radios:
    a = area(i)
    areas.append(a)

In [112]:
areas

[12.566370614359172, 28.274333882308138, 0, 0, 0, 32.169908772759484]

In [110]:
list(map(area,radios))

[12.566370614359172, 28.274333882308138, 0, 0, 0, 32.169908772759484]

In [118]:
m = (map(lambda x: math.pi*(x**2),radios))

In [116]:
list(m)

[12.566370614359172, 28.274333882308138, 6361.725123519331, 186.26502843133886, 452.3893421169302, 32.169908772759484]

In [119]:
next(m)

12.566370614359172

In [120]:
a = [1,2,3,4,5,6]
b = [5,6,6,74,5,7,3,44,5,6,6,7]
c = [1,67,8,4,2,4,6]

In [122]:
list(map(lambda x,y,z : x*y*z, a,b,c))

(5, 804, 144, 1184, 50, 168)

In [123]:
a = [1,2,3,4,5,6]
b = [5,6,6,7,5,7,3,4,5,6,6,7]
c = {'a':[12,4,4,5],'b':[12,3,43], 'c':[1,3,4,5]}

In [124]:
list(map(lambda x,y,z : x*y*z, a,b,c))

['aaaaa', 'bbbbbbbbbbbb', 'cccccccccccccccccc']

In [126]:
m = list(map(lambda x,y,z : x*y*z, a,b,c.values()))

In [127]:
len(m)

3

In [129]:
m[0]

[12, 4, 4, 5, 12, 4, 4, 5, 12, 4, 4, 5, 12, 4, 4, 5, 12, 4, 4, 5]

# Reduce (funcion,iterable)

In [130]:
from functools import reduce

In [131]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [132]:
reduce(lambda x, y: x+y, [1,2,3])

6

In [133]:
def sumin(a,b):
    print(f'Acumulado: {a} + elemnto {b}')
    return a+b

In [134]:
var = [1,2,5,3,4,4,5,5,6,3]

In [135]:
print('Resultado de reduce ', reduce(sumin, var))

Acumulado: 1 + elemnto 2
Acumulado: 3 + elemnto 5
Acumulado: 8 + elemnto 3
Acumulado: 11 + elemnto 4
Acumulado: 15 + elemnto 4
Acumulado: 19 + elemnto 5
Acumulado: 24 + elemnto 5
Acumulado: 29 + elemnto 6
Acumulado: 35 + elemnto 3
Resultado de reduce  38

In [136]:
def restin(a,b):
    print(f'Acumulado: {a} - elemnto {b}')
    return a - b

In [137]:
print('Resultado de reduce ', reduce(restin, var))

Acumulado: 1 - elemnto 2
Acumulado: -1 - elemnto 5
Acumulado: -6 - elemnto 3
Acumulado: -9 - elemnto 4
Acumulado: -13 - elemnto 4
Acumulado: -17 - elemnto 5
Acumulado: -22 - elemnto 5
Acumulado: -27 - elemnto 6
Acumulado: -33 - elemnto 3
Resultado de reduce  -36

In [138]:
def multin(a,b):
    print(f'Acumulado: {a} * elemnto {b}')
    return a * b

In [139]:
print('Resultado de reduce ', reduce(multin, var))

Acumulado: 1 * elemnto 2
Acumulado: 2 * elemnto 5
Acumulado: 10 * elemnto 3
Acumulado: 30 * elemnto 4
Acumulado: 120 * elemnto 4
Acumulado: 480 * elemnto 5
Acumulado: 2400 * elemnto 5
Acumulado: 12000 * elemnto 6
Acumulado: 72000 * elemnto 3
Resultado de reduce  216000

# Filter (funcion,  iterable)

In [146]:
def filt_par(n):
    if n%2 == 0 and n < 20:
        return n

In [147]:
numeros = [12,34,14,55,5,23,12,14,16,18]

In [148]:
list(filter(filt_par, numeros))

[12, 14, 12, 14, 16, 18]

In [149]:
list(filter(lambda x: x if x%2==0 and x < 20 else False, numeros))

[12, 14, 12, 14, 16, 18]

In [152]:
hoteles=[
    {'name':'Ritz', 'hasPool':True, 'stars':5},
    {'name':'Pension Lola', 'hasPool':True, 'stars':2},
    {'name':'Roma Norte', 'hasPool':False, 'stars':3},
    {'name':'Palace', 'hasPool':True, 'stars':4},
]

In [153]:
menor_3_stars = lambda a: a['stars'] < 3
with_pool = lambda e: e['hasPool']

In [157]:
def multi_f(x):
    return menor_3_stars(x) and with_pool(x)

In [158]:
list(filter(multi_f, hoteles))

[{'name': 'Pension Lola', 'hasPool': True, 'stars': 2}]

In [159]:
multi_2 = lambda x: x['stars'] < 3 and x['hasPool']

In [160]:
list(filter(multi_2,hoteles))

[{'name': 'Pension Lola', 'hasPool': True, 'stars': 2}]

In [162]:
multi_3 = lambda x: x['stars'] < 3 or x['hasPool']
list(filter(multi_3,hoteles))

[{'name': 'Ritz', 'hasPool': True, 'stars': 5}, {'name': 'Pension Lola', 'hasPool': True, 'stars': 2}, {'name': 'Palace', 'hasPool': True, 'stars': 4}]

# Try and Except

In [171]:
x = 2

In [164]:
x

2

In [167]:
z

NameError: name 'z' is not defined

In [166]:
print('vamos a tratar de imprimir'

SyntaxError: unexpected EOF while parsing (<ipython-input-166-f9fa4db7d0e4>, line 1)

In [169]:
try:
    print(z)
except:
    print('la varible  no esta definida')
    
2+3

la varible  no esta definida

5

In [172]:
try:
    print(z)
except:
    print(f"la varible 'z' no esta definida")
    print(f"Pero la varible 'x' si esta definida y es {x}")

la varible 'z' no esta definida
Pero la varible 'x' si esta definida y es 2

In [173]:
2/0

ZeroDivisionError: division by zero

In [182]:
try:
    2/0
except ZeroDivisionError:
    print(f'oye que no sabes mate ? no se puede dividir entre cero')
    print(f'pero podemos hacer la operacion {2/2}')

oye que no sabes mate ? no se puede dividir entre cero
pero podemos hacer la operacion 1.0

In [180]:
try:
    print(x/0)
except:
    try:
        print(8/0)
    except:
        print(x/2)
    finally:
        print('esta linea se ejecuta si o si')
finally:
    print('esta linea tambien se ejecuta')

1.0
esta linea se ejecuta si o si
esta linea tambien se ejecuta

In [186]:
if 2/2 != 0 :
    raise ValueError('oye tu comparacion esta erronea')

ValueError: oye tu comparacion esta erronea

In [188]:
x = 'hola'
x = 2
if not type(x) is int:
    raise TypeError('no puedo usar strings necesito numeros enteros')

In [190]:
x = 'hola'
if type(x) is not int:
    raise TypeError('no puedo usar strings necesito numeros enteros')

TypeError: no puedo usar strings necesito numeros enteros

In [194]:
try:
    print(x/0)
except:
    try:
        print(z/0)
    except:
        raise TypeError('Todo salio mal revisa tu codigo')

TypeError: Todo salio mal revisa tu codigo

In [195]:
import sys

In [196]:
lst=['a', 0, 2, 'e', 2, 3, 4, 5]

In [197]:
for e in lst:
    try:
        print(f'El elemento es {e}')
        res = e/3
    except:
        print(f'el valor {e} no es divisible entre 3 \n {sys.exc_info()}')

El elemento es a
el valor a no es divisible entre 3
 (<class 'TypeError'>, TypeError("unsupported operand type(s) for /: 'str' and 'int'"), <traceback object at 0x000002C6ECE9BF48>)
El elemento es 0
El elemento es 2
El elemento es e
el valor e no es divisible entre 3
 (<class 'TypeError'>, TypeError("unsupported operand type(s) for /: 'str' and 'int'"), <traceback object at 0x000002C6ED3E4908>)
El elemento es 2
El elemento es 3
El elemento es 4
El elemento es 5

In [198]:
try:
    with open('file.log') as file:
        read_data = file.read()
except:
    print('el archivo file.log no existe')

el archivo file.log no existe

# Zip (Cremallera)

In [199]:
zip()

In [200]:
lst_1 = [i for i in range(10)]

In [201]:
lst_2 = [i for i in range(10,20)]

In [207]:
list(zip(lst_1,lst_2))

[(0, 10), (1, 11), (2, 12), (3, 13), (4, 14), (5, 15), (6, 16), (7, 17), (8, 18), (9, 19)]