# Lambda

In [1]:
def suma(a,b):
    return a+b

In [10]:
suma

In [2]:
suma(5,7)

12

In [7]:
res = suma(7,5)
res

12

In [8]:
(lambda a,b: a+b)(5,7)

12

In [9]:
suma_2 = lambda a,b: a+b

In [14]:
res_2 = suma_2(5,7)
res_2

12

In [30]:
multi = (lambda a,b: a*b)

In [31]:
multi(55,6)

330

In [18]:
def suma_3(a,b = 3):
    return a+b

In [23]:
suma_3(5,b = 4)

9

In [24]:
multi_2 = lambda a, b = 2: a*b

In [26]:
multi_2(2, b = 3)

6

In [27]:
multi_2(b = 3,4)

SyntaxError: positional argument follows keyword argument (<ipython-input-27-85f127f0ff79>, line 1)

In [29]:
(lambda x, y, z = 3: x+y+z)(1, 2)

6

In [32]:
suma_n_args = (lambda *argumentos: sum(argumentos)) #por convencion se utilza la palabra *args
#*args seran argumentos posisionales

In [33]:
suma_n_args(1,2,3,4,4,5,42,3,5,45,5)

119

In [34]:
lamb_kwargs = (lambda **kwargs: sum(kwargs.values()))
#*kwargs argumentos de llaves y valores (diccionario)

In [35]:
lamb_kwargs(one = 1, two = 2, three=3, four = 4)

10

In [36]:
lamb_kwargs(1,2,3,4)

TypeError: <lambda>() takes 0 positional arguments but 4 were given

In [37]:
lst = [1,2,3,4,5,6,7,8]

In [38]:
lst_r = []
for i in lst:
    r = i*2
    lst_r.append(r)

In [39]:
lst_r

[2, 4, 6, 8, 10, 12, 14, 16]

In [41]:
lst_2 = [i*2 for i in lst]

In [42]:
lst_2

[2, 4, 6, 8, 10, 12, 14, 16]

In [44]:
lst_3 = [(lambda i: i*2)(i) for i in lst] #lambda con comprension de lista
lst_3

[2, 4, 6, 8, 10, 12, 14, 16]

In [45]:
mul = lambda i: i*2

In [46]:
lst_3 = [mul(i) for i in lst] #lambda con comprension de lista
lst_3

[2, 4, 6, 8, 10, 12, 14, 16]

In [47]:
lst_s = ['hol.2.', 'como.estan .', 'aknhsk.']

In [50]:
clean_lambda = lambda x: x.replace('.','').replace('o','i')

In [51]:
lst_clean = [clean_lambda(i) for i in lst_s]
lst_clean

['hil2', 'cimiestan ', 'aknhsk']

In [52]:
lst_lst = [i for i in range(50)]
lst_lst

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [60]:
num = lambda x: x*2 if x > 20 else x*3

In [61]:
lst_2 = [num(i) for i in lst_lst]
lst_2

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [67]:
num_2 = lambda x: x*2 if x > 20 else x

In [70]:
%pprint off
lst_2 = [num_2(i) for i in lst_lst]
lst_2

Pretty printing has been turned OFF

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [71]:
full_name = lambda primero,segundo: f'Nombre completo: {primero.title()} {segundo.title()}'

In [72]:
full_name('oscar','fuentes')

'Nombre completo: Oscar Fuentes'

In [73]:
calificaciones = [{'nombre':'Fanny', 'final':90},
                 {'nombre':'Alberto','final':70},
                 {'nombre':'Caro','final':100},
                 {'nombre':'Luis','final':40}]

In [74]:
sorted(calificaciones, key = lambda x: x['final'])

[{'nombre': 'Luis', 'final': 40}, {'nombre': 'Alberto', 'final': 70}, {'nombre': 'Fanny', 'final': 90}, {'nombre': 'Caro', 'final': 100}]

In [75]:
sorted(calificaciones, key = lambda x: x['nombre'])

[{'nombre': 'Alberto', 'final': 70}, {'nombre': 'Caro', 'final': 100}, {'nombre': 'Fanny', 'final': 90}, {'nombre': 'Luis', 'final': 40}]

In [76]:
sorted(calificaciones, key = lambda x: x['nombre'], reverse = True)

[{'nombre': 'Luis', 'final': 40}, {'nombre': 'Fanny', 'final': 90}, {'nombre': 'Caro', 'final': 100}, {'nombre': 'Alberto', 'final': 70}]

In [77]:
sorted(calificaciones, key = lambda x: x['final'], reverse = True)

[{'nombre': 'Caro', 'final': 100}, {'nombre': 'Fanny', 'final': 90}, {'nombre': 'Alberto', 'final': 70}, {'nombre': 'Luis', 'final': 40}]