# Functions

In [10]:
def mi_funcion():
    pass

In [12]:
mi_funcion()

In [13]:
def saludo():
    print('hola curso de data buenos dias')

In [14]:
saludo()

hola curso de data buenos dias

In [25]:
def saludo_2(nombre):
    print('hola como estas',nombre)
    print('buenos dias')
    return nombre

In [17]:
saludo_2('oscar')

hola como estas oscar

In [18]:
saludo_2(2)

hola como estas 2

In [26]:
mi_nombre = saludo_2('toro')

hola como estas toro
buenos dias

In [27]:
mi_nombre

'toro'

In [28]:
lst = [i for i in range(10)]

In [29]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
def agregar_info(valor):
    lst.append(valor)

In [31]:
agregar_info(100)

In [32]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100]

In [40]:
def nueva_lst():
    lst_2 = [i for i in range(10)]
    print(lst_2)
    return lst_2

In [41]:
lst_2 = nueva_lst()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
lst_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
def nueva_lst_nueva():
    global lst_3
    lst_3 = [i for i in range(20)]
    print(lst_3)

In [50]:
nueva_lst_nueva()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [51]:
lst_3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [52]:
def sumita(a,b,c):
    return a+b+c

In [54]:
resultado  = sumita(1,2,3)

In [55]:
resultado

6

In [67]:
def suma_2(x):
    if x > 10:
        def suma_3(x):
            return x+3
        m = suma_3(x)
        return m
    else:
        return x+1

In [68]:
resultado_2 = suma_2(15)
resultado_2

18

In [62]:
result_3 = suma_2(5)
result_3

6

In [69]:
def sumita(a,b,c):
    n = a+1
    v = b+2
    m = c+3
    return n,v,m

In [70]:
n,v,m = sumita(2,3,4)

In [73]:
m

7

In [74]:
n,v,m = sumita(b = 1, c = 0, a = 2)

In [77]:
m

3

In [82]:
def saludo(*argumentos):
    lst = []
    for i in argumentos:
        print('hola como estas',i)
        lst.append(i)
    return lst

In [83]:
saludos = saludo('toro','kathi','Cynt','Fer','Fanny')

hola como estas toro
hola como estas kathi
hola como estas Cynt
hola como estas Fer
hola como estas Fanny

In [84]:
saludos

['toro', 'kathi', 'Cynt', 'Fer', 'Fanny']

In [98]:
def saludin(nombre, lang = 'es', alumno = True):
    s = ''
    if alumno:
        s = 'alumno!!!'   
    if lang == 'es':
        print('hola',nombre,s)
    else:
        print('hello',nombre,s)

In [99]:
saludin('Alberto')

hola Alberto alumno!!!

In [100]:
saludin('Mile','en')

hello Mile alumno!!!

In [103]:
saludin('Fanny','es')

hola Fanny alumno!!!

In [102]:
saludin('Fanny','en',alumno = False)

hello Fanny

In [105]:
saludin('Oscar','es',False)

hola Oscar

In [112]:
def saludin_multiple(*argumentos, lang = 'es', alumno = True):
    for e in argumentos:
        saludin(e, lang, alumno)

In [116]:
saludin_multiple('fer',lang = 'en',alumno = False)

hello fer